data/*

Tokenizer/save/
Tokenizer/__pycache__/
Tokenizer/.ipynb_checkpoints/
Tokenizer/mini_librispeech_prepare.py


LM/model_checkpoints/
LM/__pycache__/
LM/results/


ASR/__pycache__/
ASR/.ipynb_checkpoints/
ASR/results/
ASR/mini_librispeech_prepare.py
ASR/inference/*.wav
ASR/results.zip

ASR/diarization/data/
ASR/diarization/run/*.wav
ASR/diarization/output/*.json



mini_librispeech_prepare.py
